@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'tailwindcss/tailwind.css';
@import 'flowbite';

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.centered-box {
  width: 250px;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.custom-margin {
  margin-top: 20px; /* Atur margin atas menjadi 20px */
}

.text-box {
  width: 200px;
  height: 50px;
  margin-top: -10px; /* Atur jarak dari box sebelumnya */
}

.button-box {
  width: 250px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  transform: translateY(-435%);
  -webkit-transform: translateY(-435%);
  -moz-transform: translateY(-435%);
  -ms-transform: translateY(-435%);
  -o-transform: translateY(-435%);
}

/* globals.css */

.text-shadow {
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.spacing {
  margin-top: 10px;
}

.body-box {
  width:fit-content;
  height:fit-content;
  justify-content: center;
  align-items: center;
  transform: translateY(-20%);
  -webkit-transform: translateY(-20%);
  -moz-transform: translateY(-20%);
  -ms-transform: translateY(-20%);
  -o-transform: translateY(-20%);
}

.button {
  border-radius: 50%;
  padding: 0;
  width: 40px; /* adjust the size as needed */
  height: 40px; /* adjust the size as needed */
}

.button svg {
  margin: 0 auto;
}

.fucek {
  width: 300px;
  height: 300px;
  justify-content: center;
  align-items: center;
}